@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Easypay Payment Solution</h1>
    <p class="lead">An simple payment solultion to transfer money to all your family and friends, or to any merchant</p>
    <p><a href="@Url.Action("Index","Transaction")" class="btn btn-primary btn-lg">Transfer &raquo;</a></p>
</div>

